.background-green{
    background: green;
}

.solid-border{
    border-style: solid;
}

.dotted-border {
    border-style: dotted;
}

.border-3px{
    border-width: 3px;
}

.border-5px{
    border-width: 5px;
}

.padding-20{
    padding:20px;
}

.inline-block{
    display:inline-block;
}

.height-80vh{
    min-height:80vh;
}

.padding-div{
    padding: 20px 40%;
}